.chat
  .main-header
    .left-box
      .left-box__current-group
        ggg
      %ul.left-box__member-list
        lll
        %li.left-box__member-list__member
          mmm
    .right-box
      .right-box__edit
      = link_to "#", class: "create__btn" do
        Edit

  .messages
    = render @messages

  .chat-message
    .form
      = form_for [@group, @message] do |f|
        .form__input
          = f.text_field :content, class: 'form__input__message', placeholder: 'type a message'
          = f.label :image, class: 'form__input__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'form__input__image__file'
        = f.submit 'Send', class: 'send__btn'