.side-bar
  .header-left
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons__edit__btn
        = link_to edit_user_path(current_user), class: "edit__btn" do
          = icon('fas', 'cog')
        %li.top-items__icons__create__btn
        = link_to new_group_path(current_user), class: "create__btn" do
          = icon('fas','edit')
  .groups
    .groups__list
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            %p.group__name
              = group.name
            %p.group__message
              = group.show_last_message

